
<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <mat-card>
  <mat-card-title>
      Planning Service Center: {{trailerService.planningSvc}} | Dispatch Destination: {{trailerService.closedDest}}
  </mat-card-title>
  <mat-card-content >
    <ag-grid-angular #agGrid  class="ag-theme-material" [enableSorting]="true" [enableFilter]="true"
       [rowDragManaged]="true" [suppressDragLeaveHidesColumns]="true"
      [rowData]="rowData" [gridOptions]="gridOptions" [enableColResize]="true" rowSelection="multiple" 
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button color="primary" (click)="clearFilters()">Reset Filters</button>
    <button  mat-raised-button color="primary" (click)="onBtnExport()">Export to CSV</button>
  </mat-card-actions>
</mat-card>
</div>