/* You can add global styles to this file, and also import other style files */

html, body{
    font-family: 'Roboto', 'sans-serif';
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

 .mat-menu-panel{
    background-color: black;
}

.mat-menu-item .mat-icon:not([color]), .mat-menu-item-submenu-trigger::after{
    color: white;
}

.backdrop-container{
    z-index: 0 !important;
    }
mat-sidenav-container, mat-sidenav-content, mat-sidenav{
        height: 100%;
    }
    
mat-sidenav{
        width: 250px;
    }     
    header {
        height: 100%;
    }    

    .ag-filter-filter, .ag-floating-filter-input{
        height: 20px !important;
    }

    