<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <mat-card>
    <mat-card-title>Search</mat-card-title>
    <mat-card-content>
      <form [formGroup]="searchForm" (ngSubmit)="submit()">
          <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
        <div fxFlex="25%">
          <section class="planningSVC">
            <mat-form-field class="example-full-width">
            <input autofocusng autofocus type="text" placeholder="Planning SVC" matInput formControlName="planningSvc" [matAutocomplete]="planningSVCAuto" (keyup)="planningSvcValidation()" required maxlength="3" >
              <mat-autocomplete #planningSVCAuto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionssc | async" [value]="option">
                  {{ option | uppercase}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="planningSvc.hasError('required')">Please enter Planning Service Center</mat-error>
              <mat-error *ngIf="planningSvc.hasError('planningSvcInvalid')">Service Center is Invalid or Inactive</mat-error>
            </mat-form-field>
          </section>
        </div>
 
         <div fxFlex="25%">
          <section class="dispatchDest">
            <mat-form-field class="example-full-width">
              <input placeholder="Dispatch Destination" matInput formControlName="closedDest" [matAutocomplete]="dispatchDestAuto" (keyup)="closedDestValidation()" required maxlength="3">
              <mat-autocomplete #dispatchDestAuto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsdest | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="closedDest.hasError('required')">Please enter Dispatch Destination</mat-error>
              <mat-error *ngIf="closedDest.hasError('closedDestInvalid')">Service Center is Invalid or Inactive</mat-error>
            </mat-form-field>
          </section>
        </div>
        <div fxFlex="25%">
          <section class="planningTime">
              <mat-form-field>
                <mat-select  placeholder="Planning Time" formControlName="searchTime" name="time"> 
                  <mat-option *ngFor="let date of searchDates" [value]="date">
                    {{date}}
                  </mat-option>
                </mat-select>
                </mat-form-field>
          </section> 
        </div> 
        <div fxFlex="25%">
        </div>
      </div>  
      <mat-card-actions>
        <div fxFlex>
          <div class="container" fxLayout="row" fxLayoutAlign="center stretch">
            <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center stretch">
              <button type="submit"  mat-raised-button color="primary" >Search</button>
            </div>
          </div>
        </div>
      </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
